
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Lato', sans-serif;
    color: rgb(228, 158, 7);
    text-align: center;
    background-color: #333334;
    /*border: 50px solid rgb(43, 120, 221);*/
    border-top: 0px;
    border-bottom: 0px;
    margin: 0px;
  }
  
  p{
    color: rgb(157, 196, 137);
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.4em;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .userinput{
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  h2{
    margin-bottom: 2%;
  }
  
  #sub{
    background: rgba(223, 109, 45, 0.913);
    height: 50px;
    width: 130px;
    font-family: "Lato";
    font-size: 1.1em;
    margin-bottom: 10px;
  
  }
  #div{
    text-align: left;
  }
  
  #nav{
      color: rgba(145, 215, 254, 0.913);
      font-size: 22px;
  }
  